@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 210 40% 98%;

  --card: 0 0% 4%;
  --card-foreground: 210 40% 98%;

  --popover: 0 0% 4%;
  --popover-foreground: 210 40% 98%;

  --primary: 217 91% 60%;
  --primary-foreground: 210 40% 98%;

  --secondary: 217 19% 27%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217 19% 27%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217 19% 27%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217 19% 27%;
  --input: 217 19% 27%;
  --ring: 212.7 26.8% 83.9%;
}

body {
  @apply bg-background text-foreground antialiased;
}

